body{
    font-family: Arial;
}

/*Menu content*/
h1{
    max-width: 20%;
    color: white;
    float: left;
}

#search{
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}

input{
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
}

#searchbutton{
    float: left;
    margin-top: 20px;
}

ul#menu li {
    margin-top: 20px;
    float: right;
}

ul#menu li a:hover {
    background-color: #111;
}

ul#menu{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    border-radius: 3px;
    padding: 10px;
    width: auto;

}

/*Login*/
#login_wrap {
    visibility: hidden;
    padding:10px;
    margin:0;
    float: right;
    background-color: lightgray;
    border-radius: 3px;
    display: none;
}

/*Apartments*/
main{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

legend{
    font-weight: bold;
}

figcaption h3{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 0;
    padding: 8px;
    margin: 0;
    background: rgba(255,255,255,0.5);
}

.rate{
    position: absolute;
    top: 15px;
    left: 425px;
}

figure {
    position: relative;
}

img{
    vertical-align: middle;
}

ul#apartments{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul#apartments li a:hover{
    opacity: 70%;
}

/*Chat*/
#chatcontents{
    display: none;
    visibility: hidden;
    padding: 20px;
    border-style: solid;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

#newchat{
    margin-left: 50px;
    margin-bottom: 30px;
}

ul#chat{
    margin: 0;
    padding: 0;
}

ul#chat li{
    list-style-type: none;
    border-radius: 3px;
    background-color: lightgray;
    padding: 10px;
    margin-top: 3px;
    width: auto;
}

button{
    padding: 8px;
}

/*Footer*/
.footer {
    border-radius: 3px;
    position: relative;
    padding: 20px;
    width: auto;
    background-color: #333;
    color: white;
    text-align: center;
}

/*MODAL*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
    height: 80%;
    overflow-y: auto;
    background-color: #fefefe;
    /*margin: auto;*/
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: inline-block;
    margin-left: 10%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#review{
    border-style: solid;
    padding: 20px;
    margin-top: 15px;
}


.starcontainer .star{
    max-width: 25%;
}

.starcontainer{
    float: left;
    width: 30%;
   margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    color: black;
}

.center {
    position: absolute;
    top: 57%;
    left: 12%;
    transform: translate(-50%, -50%);
}

/*.checked {
    color: orange;
}*/

/*MODAL2*/
/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close2 {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


