<!DOCTYPE html>
<html>
<head>
    <title>Etusivu | HOAS-arvostelut</title>
    <link href="css/main.css" type="text/css" rel="stylesheet"/>
    <script src="js/homepage.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<ul id="menu">
    {{#if user}}
        <li><a href="/auth/logout">Kirjaudu ulos</a></li>
        <li><p>Kirjautunut käyttäjänä:</p><p id="user">{{ user.username }}</p></li>
    <!--<p id="user">{{ user.username }}</p>-->
    {{else}}
        <li><a class="active" href="/login">Kirjaudu</a></li>
        <li><a href="/register">Rekisteröidy</a></li>
    {{/if}}
    <h1>HOAS-arvostelut</h1>
    <input id="search" type="text" placeholder="Hae kohdetta" name="search" onkeyup="searchApartment()">
</ul>

<main>
    <ul id="apartments">
        <!--When li element clicked modal opens-->
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="1" class="review"><img src="img/kimpitie.jpg"></a>
                <figcaption>
                    <h3>Kimpitie 10, Helsinki</h3>
                </figcaption>
                {{#if user}}
                    <button onclick="getApartmentId('1')" class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="2" class="review"><img src="img/berliininkatu.jpg"></a>
                <figcaption>
                    <h3>Berliininkatu 5, Helsinki</h3>
                </figcaption>
                {{#if user}}
                    <button onclick="getApartmentId('2')" class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="3" class="review"><img src="img/hakaniemenranta.jpg"></a>
                <figcaption>
                    <h3>Hakaniemenranta 12, Helsinki</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="4" class="review"><img src="img/siltakuja.jpg"></a>
                <figcaption>
                    <h3>Siltakuja 2, Espoo</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="5" class="review"><img src="img/vaskivuorentie.jpg"></a>
                <figcaption>
                    <h3>Vaskivuorentie 22, Vantaa</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="6" class="review"><img src="img/juusintie.jpg"></a>
                <figcaption>
                    <h3>Juusintie 5, Kauniainen</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="7" class="review"><img src="img/kilonkallio.jpg"></a>
                <figcaption>
                    <h3>Kilonkallio 10, Espoo</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="8" class="review"><img src="img/haukilahdenkuja.jpg"></a>
                <figcaption>
                    <h3>Haukilahdenkuja 15, Helsinki</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="9" class="review"><img src="img/leppäsuonkatu.jpg"></a>
                <figcaption>
                    <h3>Leppäsuonkatu 7, Helsinki</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="10" class="review"><img src="img/majurinkulma.jpg"></a>
                <figcaption>
                    <h3>Majurinkulma 2, Espoo</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="11" class="review"><img src="img/servinkuja.jpg"></a>
                <figcaption>
                    <h3>Servinkuja 6, Espoo</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
        <li>
            <figure>
                <a onclick="getApartmentId(this.id)" id="12" class="review"><img src="img/akanapolku.jpg"></a>
                <figcaption>
                    <h3>Akanapolku 2, Vantaa</h3>
                </figcaption>
                {{#if user}}
                    <button class="rate">Arvostele</button>
                {{/if}}
            </figure>
        </li>
    </ul>
</main>

<div id="newchat">
    <!--<label for="title">Kirjoita kysymys aloittaaksesi keskustelun:</label>-->
    {{#if user}}
        <input id="chatTitle" type="text" placeholder="Kirjoita kysymys aloittaaksesi keskustelun" name="chat">
        <button onclick="makeQueryForSendChat()">Lähetä</button>
    {{/if}}
    <ul onclick="openChat()" id="chat"></ul>
</div>

<div id="chatcontents">
    <h2>Tähän klikatun keskustelun otsikko tietokannasta</h2>
    <p>Tähän listana vastauksia kysymyksiin</p>
    <input type="text" placeholder="Kirjoita vastaus (max 500 merkkiä)">
    <button>Lähetä vastaus</button>
</div>

<div id="testchat"></div>

<div class="footer">
    <p>Kuvat asunnoista kuuluvat Helsingin seudun opiskelija-asuntosäätiölle.</p>
    <a href="https://www.hoas.fi/">www.hoas.fi</a>
</div>

<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">x</span>
        <h2 id="address">Tähän haetaan tietokannasta klikatun asunnon osoite</h2>
        <p id="rating"></p>
        <div id="container"></div>

        <!--<span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>-->

        <h2>Arvostelujen keskiarvot:</h2>
        <div class="starcontainer">
            <p>Kunto</p>
            <p class="center" id="averageshape"></p>
            <img class="star" src="img/star.jpg">
        </div>
        <div class="starcontainer">
            <p>Viihtyvyys</p>
            <p class="center" id="averagecomfort"></p>
            <img class="star" src="img/star.jpg">
        </div>
        <div class="starcontainer">
            <p>Kokonaisarvosana</p>
            <p class="center" id="averagegrade"></p>
            <img class="star" src="img/star.jpg">
        </div>
    </div>
</div>

<div id="modal2" class="modal2">
    <div class="modal-content2">
        <span class="close2">x</span>
        <h2 style="display: inline-block">Arvostelu kohteeseen: </h2>
        <h2 style="display: inline-block" id="apartmentaddress"></h2>
        <h3></h3>
        <form>
            <fieldset>
                <legend>Kunto</legend>
                <select id="shape">
                    <option value="Kiitettävä">Kiitettävä</option>
                    <option value="Hyvä">Hyvä</option>
                    <option value="Tyydyttävä">Tyydyttävä</option>
                    <option value="Välttävä">Välttävä</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Viihtyvyys</legend>
                <select id="comfort">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Kokonaisarvosana</legend>
                <select id="grade">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value=3>3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </fieldset>
            <br>
            <fieldset>
                <legend>Vapaa sana</legend>
                <textarea id="free_word" style="width: 60%"
                          placeholder="Kirjoita vapaasti kokemuksia ja mielipiteitä asunnosta" rows="10"></textarea>
            </fieldset>
            <input type="button" onclick="makeQueryForSendForm(1)" value="Lähetä">
        </form>
        <div id="test"></div>
        <div id="test2"></div>
    </div>
</div>

</body>
</html>

